In [2]:
import pandas as pd

In [34]:
df = pd.read_excel('assets/test.xlsx', header=None)

df

       0    1                    2                      3      4
0   员工ID   姓名           start time               end time  price
1      1   张三  2020-02-12 00:12:30  552.2020/2/12 5:22:03  552.2
2    NaN  NaN                  NaN                    NaN    NaN
3    NaN  NaN                  NaN                    NaN    NaN
4    NaN  NaN                  NaN                    NaN    NaN
5    NaN  NaN                  NaN                    NaN    NaN
6    NaN  NaN                  NaN                    NaN    NaN
7    NaN  NaN                  NaN                    NaN    NaN
8    NaN  NaN                  NaN                    NaN    NaN
9    NaN  NaN                  NaN                    NaN    NaN
10   NaN  NaN                  NaN                    NaN    NaN
11   NaN  NaN                  NaN                    NaN    NaN
12   NaN  NaN                  NaN                    NaN    NaN
13   NaN  NaN                  NaN                    NaN    NaN
14   NaN  NaN                  NaN                    NaN    NaN
15    总计  NaN                  NaN                    NaN  11042

In [35]:
print(f'姓名: {df.iloc[1, 1]}')

val: 张三

In [44]:
dt = df.iloc[1, 2]
dt

Timestamp('2020-02-12 00:12:30')

In [43]:
dt.to_pydatetime()

datetime.datetime(2020, 2, 12, 0, 12, 30)

In [29]:
df[0]

0     test1
1         1
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15       总计
Name: 0, dtype: object

In [39]:
row_total = df.loc[df[0] == '总计']
print('餐饮费合计 = {}'.format(row_total.iloc[0, 4]))

餐饮费合计 = 11042

iloc loc ix

In [47]:
import pandas as pd

df = pd.read_excel('assets/test.xlsx', header=None)

total = df.loc[df[0] == '总计']

row_list = []


row = {}
row['ID'] = df.iloc[1, 0]
row['name'] = df.iloc[1, 1]
row['开始日期'] = df.iloc[1, 2].to_pydatetime()
row['结束日期'] = df.iloc[1, 3].to_pydatetime()
row['总计'] = df.iloc[1, 4]

row

{'ID': 1,
 'name': '张三',
 '开始日期': datetime.datetime(2020, 2, 12, 0, 12, 30),
 '结束日期': datetime.datetime(2020, 2, 12, 5, 22, 3),
 '总计': 552.2}

In [49]:
df_all = pd.DataFrame([row])
df_all

   ID name                开始日期                结束日期     总计
0   1   张三 2020-02-12 00:12:30 2020-02-12 05:22:03  552.2

In [50]:
writer = pd.ExcelWriter('assets/All.xls', engine='xlwt')
df_all.to_excel(writer)
writer.save()

pathlib

In [8]:
CWD = '../python/assets'

In [9]:
from pathlib import Path

p = Path(CWD)
p.exists()

True

In [10]:
p.is_dir()

True

In [11]:
print(p)

../python/assets

In [12]:
print(type(p))

<class 'pathlib.PosixPath'>

In [18]:
list(p.glob('**/*.xls'))

[PosixPath('../python/assets/All.xls')]

In [23]:
for q in p.glob('**/[!All]*.xls*'):
    print(q.name)

test.xlsx
refined_decoration.xlsx

电子邮件标准 SMTP，python 也有 smtplib 和 email 库

邮件发送服务 SendGrid Mailgun AWS SES